body, html{
	font-family:arial;
}
header{
	float:left;
}
.container{
	width:980px;
	margin:auto;
}
.dick_pic{
	width:490px;
	height:480px;
	float:right;
}
#hey .dick_pic{
	background: url(../images/bag_one.jpg) no-repeat;
}
#home .dick_pic{
	background: url(../images/bag_two.jpg) no-repeat;
}
#api_console .dick_pic{
	background: url(../images/bag_three.jpg) no-repeat;
}
#response .dick_pic{
	background: url(../images/bag_four.jpg) no-repeat;
	
}

.copy_container{
width:490px;	
height:auto;
float:left;
margin-top:100px;
}
#api_console .copy_container form {
	width:100%;
	
	label{
	width:100%;
	float:left;
	margin:18px 0px 7px 0px;
	}
	select{
		width:300px;
		height:40px;
		float:left;
		display:block;
	}
	input[type="text"]{
		float:left;
		width:300px;
		height:40px;
		font-size:30px;
	}
	input[type="submit"]{
		margin-top:18px;
		clear:left;
		float:left;
	}

}
#response .url{
	width:480px;
	float:left;
	clear:left;
}


@import "mobile";

