@media screen and (max-width:560px) {

	header{
		width:100%;
	}
	.dick_pic{
		width:100%;
		height:66%;
		float:left;
		background-size: cover !important;
		-webkit-background-size: cover;
		-moz-background-size: cover;
	}
	.copy_container{
		margin-top:0px;
	width:100%;
	}
	
	#api_console .copy_container form {
			
		
		select{
			width:100%;
			
		}
		input[type="text"]{
			width:97%;
			
		}
		
	}

}