<div id="hey" class="container">  


	<div class="copy_container">
<h1> HEY! <%=h @to %>! Go <%=h @verb %> a bag of dicks!</h1>

<p>from - <%=h @from %> </p>



</div>
	<div class="dick_pic"></div>
</div>
