<h1>This is the <%= @title %> </h1>
<p>To construct your url do this</p>
<p>"http://localhost:4567/hey/{to whom are you talking}/{a verb}/{who the message is from} <br/><br/> <b>For example:</b> <u>http://localhost:4567/hey/mike/gargle/draper"</u></p>

<h3>If you can't come up with something clever use our console to craft a url</h3>
<a href="/apiconsole">API Console</a>