<div id="home" class="container">  
	<header>  
	  <hgroup>  
	    <h1>A Bag of Dicks As A Service</h1>  
	    <h3>"Like, one at a time? The whole bag?"</h3>  
	  </hgroup>  
	</header>  
	<div class="dick_pic"></div>
	<div class="copy_container">
		<p>Ever wonder how you can actually send a bag of dicks to someone?</p>
		<p>To construct your url do this</p>
		<p>"<%= @base %>/hey/:to/:verb/:from <br/><br/> <b>For example:</b> <a href= <%= @url %> > <%= @url %> </a></p>
		<h3>If you can't come up with something clever use our console to craft a url</h3>
		<a href="/api/console">API Console</a>
	</div>
</div>