<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title><%= title %></title>  
</head>  
<body>  
  <header>  
    <hgroup>  
      <h1><a href="/">EABOD API</a></h1>  
      <p>"Like, one at a time? The whole bag?"</p>  
    </hgroup>  
  </header>  
  
  <div id="main">  
    <%= yield %>  
  </div>  
  
  <footer>  
  </footer>  
</body>  
</html>  