<!doctype html>  
<html lang="en">  
<head>  
  <meta charset="utf8">  
  <title><%= title %></title>  
  <meta propert="og:title" content="A Bag Of Dicks As A Service">
  <meta property="og:url" content= "<%= @url %>" >
  <meta property="og:description" content=" Hey #{@to}! I got something to tell you! " >
  <meta property="og:image" content="http://stormy-reaches-8839.herokuapp.com/images/fb_icon.jpg"> 
  <meta property="og:type" content="website">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
  
</head>  
<body>  
  
    <%= yield %>  
  </div>  
  
  <footer>  
  </footer>  
</body>  
</html>  