@media screen and (max-width: 560px) {
  /* line 3, ../sass/tablet.scss */
  header {
    width: 100%;
  }

  /* line 6, ../sass/tablet.scss */
  .dick_pic {
    width: 100%;
    height: 66%;
    float: left;
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
  }

  /* line 14, ../sass/tablet.scss */
  .copy_container {
    margin-top: 0px;
    width: 100%;
  }

  /* line 18, ../sass/tablet.scss */
  #hey .copy_container {
    margin-top: 0px;
  }

  /* line 25, ../sass/tablet.scss */
  #api_console .copy_container form select {
    width: 100%;
  }
  /* line 29, ../sass/tablet.scss */
  #api_console .copy_container form input[type="text"] {
    width: 97%;
  }

  /* line 35, ../sass/tablet.scss */
  #response .url {
    width: 100%;
  }
}
